/*font-family*/
$vbt-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
$vbt-font-color: #606266;
$vbt-font-size: 14px;

/*primary color*/
$vbt-primary-color: #409eff;
$vbt-disabled-color: #B1B1B1;

/*input/radio/checkbox color*/
$vbt-input-border-color: #dcdfe6;

/*popup*/
$vbt-table-popup-border-color: #ebeef5;

/*table color*/
$vbt-table-header-background-color: #f8f8f9;
$vbt-table-border-color: #e8eaec;
$vbt-table-background-color: #ffffff;

/*table row*/
$vbt-table-row-striped-background-color: #fafafa;
$vbt-table-row-hover-background-color: #f5f7fa;
$vbt-table-row-selected-background-color: #ecf5ff;

/*table column*/
$vbt-table-column-icon-border-color: #c0c4cc;
$vbt-table-column-icon-border-hover-color: #515A6E;

/*loading*/
$vbt-loading-background-color: rgba(0, 0, 0, 0.6);

/*excel*/
$vbt-excel-font-color: #333;
$vbt-excel-header-background-color: #E6E6E6;
$vbt-excel-header-selected-background-color: #D2D2D2;
$vbt-excel-column-border-width: 2px;
$vbt-excel-column-border-color: #D4D4D4;
$vbt-excel-primary-color: #217346;

/*tooltip*/
$vbt-tooltip-dark-background-color: #303133;
$vbt-tooltip-light-background-color: #fff;
